.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
}

.container .background {
  padding: 0;
  margin: 0;
  min-width: 35vw;
  background-image: url(./asset/bg.jpg);
  min-height: 100vh;
  background-size: cover;
}

.container .form{
  min-width: max(10vw, 300px);
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.deskripsi, .footer {
  padding-top: 1rem;
  padding-left: 2vw;
  padding-right: 10vw;
  margin: 0%;
}

.form {
  padding-left: 2vw;
  padding-bottom: 2rem;
}

.container .form .input-field {
  display: flex;
  gap: 2vw
}

.warning-text, .footer {
  font-size: 16px;
}

.footer{
  margin-bottom: 10vh;
}

.warning-text {
  font-weight: bold;
}

.copy {
  font-size: 22px;
}

.input-form {
  margin-bottom: 0.5rem;
}

input {
  height: 1.3rem;
}

input[type="text"]
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
  background-color: aliceblue;
  outline: none;
}

input:hover {
  background-color: whitesmoke;
}

.vld-password input:focus:invalid {
  border: 2px solid red;
}


a {
  text-decoration: none;
}

.country-id {
  width: 2rem;
}

.phone-id {
  max-width : 50%;
  min-width: 50%;
}

button {
  margin-top: 0.6rem;
  background-color:#378de5;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
}

button:hover {
  background-color:#2c7fd3;
  
}

button:active {
  position:relative;
	top:1px;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
}